header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}
.gridbox {
    display: grid;
    justify-content: center;
    border: 5px solid black;
    max-height: 916px;
    max-width: 916px;
};

.gridRow {
    display: grid;
}

.cell {
    display: inline-flex;
    border: 1px solid black;
    margin: 1px;
    background-color: lightslategray;
    max-width: auto;
    max-height: auto;
    min-height: 10px;
    min-width: 10px;
}

.cell:hover {
    background-color: red;
}